body {
  background: coral;
  font-family: system-ui, sans-serif;
  font-weight: lighter;
  margin: 1em;
}

img {
  max-width: 100%
}

h1 {
  color: aliceblue;
  font-weight: 400;
}

nav {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

nav a {
  padding: 20px;
  text-decoration: none;

}

nav a:hover {
  background-color: rgba(255,253,153,0.5);
  transition: background-color 0.5s, transform 0.5s;
  transform: scale(1.2);
}

.active {
  color: coral;
  font-weight: bold;
  text-decoration: underline;
}

p {
  color: aliceblue;
}

h2 {
  color: darkred;
}

.cardgroup {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-right: -10px;
}

.card {
  background: rgba(255,255,255,0.5);
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  padding: 20px;
  border: solid 10px white;
  margin: 10px;
  border-radius: 15px;
  transition: box-shadow 0.5s, transform 1s;
}

.card:hover {
  box-shadow: 0 3px 5px rgba(0,0,0,1);
  border-radius: 30px;
  background: tomato;
  transform: scale(1.05);
}

h1, h2, h3 {
  font-family: Rubik, sans-serif;
}

@media (min-width: 500px){
  body {
    background: mediumorchid;
    margin: 2em;
  }

}


@media (min-width: 820px) {
  body {
    background: blue;
    display: flex;

  }
  nav {
    margin-right: 40px;
    flex-direction: column;
  }
  .cardgroup {
    flex-direction: row;
  }
  main
}
